@inherits LayoutComponentBase

@* Required *@
<MudThemeProvider />
<MudPopoverProvider />

@* Needed for dialogs *@
<MudDialogProvider />

@* Needed for snackbars *@
<MudSnackbarProvider />

<div class="presentation-layout">


    <main>


        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<style>
    .presentation-layout {
        display: flex;
        flex-direction: row;
        height: 100vh;
        width: 100vw;
        overflow: hidden;
        background-color: black;
        color: white;
        font-family: sans-serif;
    }
</style>
